@import java.util
@import models.review.Countable
@(message: String)(userTopList: util.LinkedHashMap[Countable, Integer])(foodTopList: util.LinkedHashMap[Countable, Integer])(wordTopList: util.LinkedHashMap[Countable, Integer])
@main("Welcome Fine food reviewer") {

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="ibox-content" >
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-lg-5 col-md-5">User</th>
                                <th class="col-lg-1 col-md-1"></th>
                                <th class="col-lg-5 col-md-5">Product</th>
                                <th class="col-lg-1 col-md-1"></th>
                                <th class="col-lg-5 col-md-5">Words</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-2 col-md-2">#</th>
                                                <th class="col-lg-6 col-md-6">User</th>
                                                <th class="col-lg-2 col-md-2">User id</th>
                                                <th class="col-lg-2 col-md-2">Counter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for((user, counter) <- userTopList) {
                                            <tr>
                                                <td>
                                                   1
                                                </td>
                                                <td>
                                                @user.getId
                                                </td>
                                                <td>
                                                @user.getId
                                                </td>
                                                <td>
                                                @counter
                                                </td>
                                            </tr>
                                        }

                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-6 col-md-6">Product id</th>
                                                <th class="col-lg-3 col-md-3">Counter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for((product, counter) <- foodTopList) {
                                            <tr>
                                                <td>
                                                @product.getId
                                                </td>
                                                <td>
                                                @counter
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-lg-6 col-md-6">Word </th>
                                                <th class="col-lg-3 col-md-3">Counter</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for((word, counter) <- wordTopList) {
                                            <tr>
                                                <td>
                                                @word.getId
                                                </td>
                                                <td>
                                                @counter
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
